* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    background-color: rgba(252, 242, 149);
}

ul {
    display: flex;
    justify-content: space-around; 
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: 700;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    
}

.container {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
}

article {
    display: flex;
    justify-content: center;
    max-width: 95%;
    margin: auto;
}

article p {
    text-align: left;
}

/* NAVBAR */

.navbar {
    display: flex;
    align-items: center; 
    position: fixed;
    justify-content: space-around;
    z-index: 99999;
    overflow: hidden;
    background-color: white;
    height: 8%;
    width: 100%;
}

.narbar__hamburger {
    display: none;
}

.navbar a {
    padding: 29px;
}

.navbar img {
    max-width: 4%;
    text-align: center;
}

.navbar__menu-item {
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
}

.navbar__menu-item-content {
    overflow: hidden;
}

.navbar__menu-item-link {
    color: black;
}

.navbar__menu-item-me-adota {
    padding: 30px;
    background-color: #f78989;
    color: white;
}

.navbar__menu-item-me-adota:hover {
    background-color: rgba(89, 201, 190);
    color: white;
}

.navbar__menu-item-link:hover {
    color: black;
    background-color: rgba(252, 242, 149);
}

.navbar__menu-item-link:active {
    background-color: rgba(252, 242, 149);
    color: black;
}

/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(252, 242, 149);
    height: 2%;
}

.banner__home-img {
    width: 960px;
    margin-top: 6%;
}

.background__first {
    background-color: rgba(252, 242, 149);
}

/* ARTICLE FIRST */

.article__first {
    padding: 2%;
    padding-bottom: 0px
}

.article__first-por-que-adotar {
    position: relative;
    background-color: white;
    border: 3px black solid;
    padding: 0 3%;
    margin-top: -90px;
    padding-right: 5%;
    height: 100%;
    width: 75%;
    margin-left: 2%;
    margin-bottom: 3%;
}

.article__first-por-que-adotar-foto {
    position: relative;
    top: -90px;
    left: -15px;
}

.foto-cegali {
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 260px;
    height: 260px;
    object-fit: cover;
}

/* ARTICLE SECOND */

/* .article__second-pensando-adotar {
    text-align: center;
    background-color: white;
    border: 3px black solid;
    padding: 20px 20px 30px 20px;
    margin-bottom: 40px;
    margin-top: 0;
}

.article__second-button button {
    padding: 10px;
    background-color: #f78989;
    border: 0px;
    border-radius: 2px;
    margin-top: 10px;
}

.article__second-button a {
    color: white;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-size: 16px;
}

.article__second-button button:hover {
    background-color: rgba(89, 201, 190);
    color: white;
} */

/* ARTICLE THIRD  */

.article__third-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 3%;
    padding: 0 5%;
}

.card-body {
    max-width: 230px;
    margin: 20px;
}

.card-header {
    border: 3px black solid;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.card-header img {
    max-width: 95px;
}

.card-title {
    border: 3px black solid;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
}

.card-text {
    border: 3px black solid;
    text-align: left;
    padding: 20px;
    background-color: #f1f2f2;
    min-height: 250px;
}

.background__first {
    background-color: rgba(252, 242, 149);
    height: 90px;
}

.article__third-voce-deve-saber {
    background-color: white;
    border: 0px;
}

.article__third-voce-deve-saber p {
    padding: 0 2%;
}

/* ARTICLE FOURTH */

.article__fourth-depoimentos {
    margin-bottom: 15%;
    padding: 0 5%;
    width: 100%;
    height: 300px;

}

.depoimentos-card-header {
    border: 3px black solid;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.depoimentos-card-header img {
    max-width: 95px;
}

.depoimentos-card-title {
    border: 3px black solid;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
}

.depoimentos-card-text {
    border: 3px black solid;
    text-align: justify;
    padding: 20px;
    background-color: #f1f2f2;
    border-left-width: 0px;
}

.article__depoimentos-card-body {
    display: flex;
    min-height: 200px;
    margin: 3% 5%;
}

.article__depoimentos-card-pic img {
    border: 3px solid black;
    max-width: 200px;
    max-height: 200px;
    /* padding: 20px; */
}

.article__depoimentos-card-pic  {
    height: 200px;

}

.article__depoimentos-card-text {
    border: 3px solid black;
    text-align: left;
    padding: 2%;
    border-left-width: 0px;
    font-size: 14.8px;
}

/* ARTICLE ADOCAO */

.article__adocao {
    padding: 5%;
}

.article__adocao-intro {
    position: relative;
    background-color: white;
    border: 3px black solid;
    padding: 2%;
    margin-top: -115px;
    padding-top: 0px;
}

.article__adocao-intro-buttons {
    display: flex;
    justify-content: space-around;
}

.article__adocao-text {
    padding: 0 2%;
}

.article__adocao-button  {
    padding: 15px;
    background-color: #f78989;
    border: 0px;
    border-radius: 2px;
    margin-top: 10px;
}

.article__adocao-button a {
    color: white;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    font-size: 18px;
}

.article__adocao-button:hover {
    background-color: rgba(89, 201, 190);
    color: white;
}

.article__adocao-cards {
    padding: 0 5% 5% 5%;
    display: flex;
    flex-flow: row wrap;
}

.article__adocao-card-body {
    width: 45%;
    margin: 2.5%;
}

.article__adocao-card-header {
    border: 3px black solid;
    background-color: white;
    text-align: center;
    /* padding: 20px; */
}

.article__adocao-card-header img {
    max-height: 240px;
}

.article__adocao-card-title {
    border: 3px black solid;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
}

.article__adocao-card-text {
    border: 3px black solid;
    text-align: left;
    padding: 2%;
    background-color: #f1f2f2;
    min-height: 60%;
}

.article__adocao-card-text-button {
    text-align: center;
}

/* FOOTER */

.footer__contact {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #46aa9b;
    color: white;
    font-size: 17px;
}

.footer a {
    color: white; 
}

.footer a:hover {
    color: black; 
}

.footer__contact-social {
    display: flex;
    align-content: center;
}

.footer__contact-social img {
    max-width: 35px;
    margin: 5px;
}

/* CAROUSEL */

.carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel .item {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #fff;
}

/* animations */
.carousel .slide-in {
    transform: translateY(-5px);
    transition: 0.5s ease-out;
    z-index: 1;
    opacity: 0;
}

.carousel .item:not(.item--active),
.carousel .slide-in:focus {
    transform: translate3d(0px, 0px, 0px);
    z-index: 2;
}

.carousel .item--active {
    transform: translateY(0px);
    opacity: 1;
}

.carousel .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}

.carousel .controls .btn {
    color: #333;
    font-size: 3em;
    text-decoration: none;
}
